- model_class = RiakAudio
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:attachment)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @riak_audios.each do |riak_audio|
      %tr
        %td= link_to riak_audio.id, riak_audio_path(riak_audio)
        %td= riak_audio.name
        %td= riak_audio.attachment
        %td=l riak_audio.created_at
        %td
          = link_to t('.download', :default => t("helpers.links.download")), download_riak_audio_path(riak_audio), :class => 'btn btn-mini btn-primary'
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_riak_audio_path(riak_audio), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), riak_audio_path(riak_audio), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_riak_audio_path, :class => 'btn btn-primary'
